%html
	%body
		%table
			%tr
				%td Hello
			%tr
				%td Name : 
				%td
					= @sign_up.name
			%tr
				%td Company : 
				%td 
					= @sign_up.company
			%tr
				%td Designation : 
				%td
					= @sign_up.designation
			%tr
				%td Email Id : 
				%td 
					= @sign_up.email
			%tr
				%td Location : 
				%td 
					= @sign_up.location
			%tr
			%tr
			%tr
				%td Thank You